<!DOCTYPE html>
<html>
    <head>
        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container-fluid">
            <p class="h1">Authorized Users</p>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Username</th>
                        <th scope="col">Expiry</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr class="bg-{{user.status}}"> 
                        <td>{{user.name}}</td>
                        <td>{{user.expire}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!-- todo: finish post -->
            <form action="adminstatus/confirm" method="post">
                <button type="button" style="background:lightgrey" class="btn btn-block">Confirm Review</button>
            </form>
        </div>
    </body>
</html>